<h1 mat-dialog-title>Add new player</h1>
<div mat-dialog-content>
  <p>Pleaser enter the Name of the new Player</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
<mat-form-field>
  <mat-label>Select Picture</mat-label>
  <mat-select [(ngModel)]="newPlayerImg">
    <mat-option *ngFor="let img of game.playersImg" [value]="img">
      {{img}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="name.length == 0" [mat-dialog-close]="{name: name, img: newPlayerImg}" cdkFocusInitial>Ok</button>
</div>