.warning-text {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 700;
  }
  
  .image-preview img {
    width: 100px; /* Oder jede andere Größe, die Sie bevorzugen */
    height: 100px; /* Oder jede andere Größe, die Sie bevorzugen */
    object-fit: cover; /* Um das Bild richtig zu skalieren */
    border: 1px solid #ccc; /* Optionaler Rahmen */
    border-radius: 4px; /* Optional, um die Ecken abzurunden */
    margin-top: 10px; /* Etwas Abstand nach oben */
  }
  