body{
    margin: 0;
    overflow: hidden;
}
html{
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width:990px){
    .hide-mobile{
        display: none;
    }
}

@media (min-width: 990px){
    .hide-desktop{
        display: none;
    }
}
.image-preview img {
    width: 100px; /* Oder jede andere Größe, die Sie bevorzugen */
    height: 100px; /* Oder jede andere Größe, die Sie bevorzugen */
    object-fit: cover; /* Um das Bild richtig zu skalieren */
    border: 1px solid #ccc; /* Optionaler Rahmen */
    border-radius: 4px; /* Optional, um die Ecken abzurunden */
    margin-top: 10px; /* Etwas Abstand nach oben */
  }
  